@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(to bottom, #0f0f1a, #000);
  color: #fff;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
